body {
    background: linear-gradient(45deg, rgba(0,255,162,0.7343312324929971) 0%, rgba(0,128,255,0.5102415966386555) 100%);
    background-attachment: fixed;
    font-family: monospace;
}

canvas {
    position: absolute;
}

#canvas-wrapper {
    position: relative;
    width: 1000px;
    height: 600px;
    margin-bottom: 20px;
}

#screen {
    border: 5px solid black;
}

img:not(#logo) {
    display: none;
}

#score-disp {
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}

#score {
    color: red;
}

#hscore {
    color: yellow;
}

#keycmds {
    font-size: 16px;
}
